@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 240 5.9% 90%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .border-base {
    border: 1px solid hsl(var(--border));
  }
}

/* Prettier global scrollbars for dark theme */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #232b38;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3a4250;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #232b38 transparent;
}
